{% if last_activities %}
<table border='1'>
    <tr>
        <td>
            Пользователь
        </td>
        <td>
            Последняя посещённая страница
        </td>
        <td>
            Дата посещения
        </td>
    </tr>
    {% for activity in last_activities %}
        {% if activity.0 %}
            <tr>
        {% else %}
            <tr bgcolor="red">
        {% endif %}       
            <td>{{ activity.1 }}</td>
            <td>{{ activity.2 }}</td>
            <td>{{ activity.3 }}</td>
        </tr>
    {% endfor %}
</ul>
{% endif %}