{% extends "RUS/base_assets.html" %}
{% block title %}
    Список активов по типу {{type_name}}
{% endblock %}
{% block style %}
    <script type="text/javascript" src="/media/js/dropdown.js"></script>
    <link rel="stylesheet" type="text/css" href="/media/css/dropdown.css" />
    <script>
    function f_del_asset(id){
        if (confirm('Уверены?')) {
            $("#asset_id_"+id).load("/api/asset/delete/"+id+"/"+$('#asset_type option:selected').val()+"/",function(result){
                //console.log(result);
                $("#message").html("Актив id="+id+"успешно удалён из базы!");
                $("#asset_id_"+id).remove();
                }
            )
        } else {
            return false
        };
    }
    function f_edit_asset(id){
       $("#asset_id_"+id).load("/api/asset/edit/"+id+"/")
    }
    function send(url,form_id,result_div,error_div) {
        // Отсылаем паметры
        $.ajax({
                type: "POST",
                url:  url,
                data: $("#"+form_id).serialize(),
                // Выводим то что вернул PHP
                success: function(html)
                {
                        $("#"+result_div).empty();
                        $("#"+result_div).append(html);
                },
                error: function()
                {
                    $("#"+error_div).empty();
                    $("#"+error_div).append("Ошибка!");
                }
                }); 
    }
    </script>
{% endblock %}

{% block content %}
    {% if admin %}
        
    {% endif %}
    <div id="message">
    </div>
    <select id="asset_type">
        {% for item in asset_types %}
            {% ifequal item.id type_id %}
                <option value="{{item.id}}" selected="selected">{{item.asset_type}}</option>
            {% endifequal %}
            {% ifnotequal item.id type_id %}
                <option value="{{item.id}}">{{item.asset_type}}</option>
            {% endifnotequal %}
        {% endfor %}
    </select>
    <input type="button" onclick="add_asset_type()" value="+" text="Добавить тип актива" />
    <div id="asset_table">
    {# Сюда грузится таблица с активами #}
    </div>
        <script>
        $("#asset_type").change(function () {
            var str = $('#asset_type option:selected').val();
            $("#asset_table").load("/api/assets_by_type/"+str+"/");
        });
        $('#asset_type').change();
        function add_asset_type(){
            $("#asset_table").load("/api/asset_types/type/add/");
        }
    </script>

{% endblock %}