{# 'models':asset_type_models,'statuses':statuses,'garantys':garantys,'places':places,'asset_id':id,'item':a #}
<form method="post" action="javascript:send('/api/asset/save_edited/','asset_edition_form',{{asset_id}},'message');" id="asset_edition_form">
    <td>{{item.id}}</td>
    <td>
        <select name="model">
            {% for model in models %}
                <option value="{{model.id}}">{{model.model_name}}</option>
            {% endfor %}
        </select>
    </td>
    <td><input type="text" name="model" value="{{item.price}}" /></td>
    <td>
        <select name="status">
            {% for status in statuses %}
                <option value="{{status.id}}">{{status.status}}</option>
            {% endfor %}
        </select>
    </td>
    <td>
        <select name="status">
            {% for garanty in garantys %}
                <option value="{{garanty.id}}">{{garanty.number}}</option>
            {% endfor %}
        </select>    
    </td>
    <td>
        <select name="status">
            {% for place in places %}
                <option value="{{place.id}}">{{place.place}}</option>
            {% endfor %}
        </select>
    </td>
    <td>
    <input type="button" value="Сохранить" onClick="send('/api/asset/save_edited/','asset_edition_form',{{asset_id}},'message');" />
    </td>
</form>