<form method="post" action="javascript:send('/api/save_new_contractor/','new_contractor','message');" id="new_contractor">
    {% csrf_token %}
    <table border=1>
        {{ NewContractorForm.as_table }}
    </table>
    <input type="button" value="Отправить" onClick="send('/api/save_new_contractor/','new_contractor','message');" />
</form>
{# Отправляем данные, удаляем форму ввода поставщика и перезагружаем это поле в таблице счёта, установив введённое значение значением по умолчанию. Скрипт хранится в /todoes/files/js/bill_contractor.js Для того, чтобы он мог подружаться в заголовке страницы. Такой вот франкенштейн #} 