{# нужно для работы списка с возможностью ввода своих данных #}
<script>
    var c_list = [
        {% for c in contractors %}
            "{{c.name}}",
        {% endfor %}
        ];
</script>
{# конец нужно... #}
<table>
    <tr>
        <td>
            <input name="contractor" type="text" id="contractor" size="20" maxlength="50" onclick="list_down()" onkeyup="list_on_change()" value="{{name_to_select}}" />
        </td>
    </tr>
    <tr>
        <td>
            <input type="hidden" name="contractor_id" id="contractor_id" value="{{contractor}}" />
        </td>
    </tr>
    <tr>
        <td>
            <ul id="dropdown" style="display:none;">
                {% for c in contractors %}   select_element(id,value,input_filed_id,id_field_id)
                    <li onclick="select_element('{{c.id}}', '{{c.name}}', 'contractor', 'contractor_id')">{{c.name}}</li>
                {% endfor %}
            </ul>
        </td>
    </tr>
</table>

