{% extends "RUS/base.html" %}
{% block title %}
    Архив тикетов
{% endblock %}
{% block style %}
    <style>
       .leftstr, .rightstr {
        float: left; /* Обтекание справа */ 
        width: 50%; /* Ширина текстового блока */ 
       }
       .rightstr {
        text-align: right; /* Выравнивание по правому краю */ 
       }
        .center {
        text-align: center; 
        width: 100%; /* Ширина текстового блока */ 

       }

    </style>
    <meta http-equiv="refresh" content="60">
{% endblock %}
{% block content %}
    <p><a href="/tasks/">К списку задач</a></p>
    <p><a href="/deleted_tasks/">К списку удалённых задач</a></p>
    <hr />
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_table }}
    </form>
    <hr />
    {# если только открыли #}
    {% if not not_finded and not finded_tasks %}
        {% if my_error %}
            {% for error in my_error %}
                <h2>{{error}}</h2><br />
            {% endfor %}
        <hr />
        {% endif %}
        
        {% if tasks %}
            <p>Открытые заявки</p>
                <ol>
                    {% for task in tasks %}
                        <li><a href="../task/one_time/{{task.id}}">{{task.id}};{{task.name}}</a></li>
                    {% endfor %}
                </ol>
        {% endif %}
        {% if regular_tasks %}
            <p>Повторяющиеся заявки</p>
                <ol>
                    {% for task in regular_tasks %}
                        <li><a href="../task/regular/{{task.id}}">{{task.id}};{{task.name}}</a></li>
                    {% endfor %}
                </ol>
        {% endif %}
        {% if closed_tasks %}
            <p>Закрытые заявки</p>
                <ol>
                    {% for task in closed_tasks %}
                        <li><a href="../task/one_time/{{task.id}}">{{task.id}};{{task.name}}</a></li>
                    {% endfor %}
                </ol>
        {% endif %}

        {% if confirmed_tasks %}
            <p>Подтверждённые заявки</p>
                <ol>
                    {% for task in confirmed_tasks %}
                        <li><a href="../task/one_time/{{task.id}}">{{task.id}};{{task.name}}</a></li>
                    {% endfor %}
                </ol>
        {% endif %}
    {% endif %}
    
    {# Если не найдена задача #}
    {% if not_finded and not finded_tasks %}
        <h1>Такой задачи не найдено, повторите поиск</h1>
    {% endif %}
    
    {# Если найдена задача #}
    {% if not not_finded and finded_tasks %}
        <ul>
            {% for task in finded_tasks %}
                <li><a href="../../task/one_time/{{task.id}}">{{task.id}};{{task.name}}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}
