{% extends "RUS/base_settings.html" %}
{% block title %}
    Просмотр настроек
{% endblock %}
{% block style %}
    <style>
        p {
            margin-top: 0.1em;
            margin-bottom: 0.1em;
        }
    </style>
    <script>
        function f_edit_setting(section,option){
           //$("#setting_"+name).load("/api/setting/edit/"+name+"/")
           var val = $("#setting_value_"+section+"_"+option).html() 
           $("#setting_value_"+section+"_"+option).html('<textarea rows="10" cols="40"  name="new_value">'+val+'</textarea>')
           // поставить кнопку отправки
           $("#button_"+section+"_"+option).html("<input type='button' value='Сохранить' onClick=\"send('/api/setting/save/"+section+"/"+option+"/','settings_edition_form','setting_value_"+section+"_"+option+"','message','"+section+"','"+option+"');\" />")
        }
        function send(url,form_id,result_div,error_div,group_name,setting_name) {
            // Отсылаем паметры
            $.ajax({
                    type: "POST",
                    url:  url,
                    data: $("#"+form_id).serialize(),
                    // Выводим то что вернул PHP
                    success: function(html)
                    {
                        $("#"+result_div).empty();
                        $("#"+result_div).append(html);
                        $("#"+error_div).empty();
                        $("#"+error_div).append("Настройка успешно сохранена!");
                        // изменяем кнопку обратно на редактирование
                        $("#button_"+group_name+"_"+setting_name).html('<input type="button" value="✎" title="Редактировать" name="edit_setting" onclick="f_edit_setting(\''+group_name+'\',\''+setting_name+'\')" />')
                    },
                    error: function()
                    {
                        $("#"+error_div).empty();
                        $("#"+error_div).append("Ошибка сохранения настройки!");
                    }
                    }); 
        }
    </script>
{% endblock %}

{% block content %}
    <div id="message"></div>
    <div id="settings_table">
    {% for group in settings %}
        <h3 title="{{group.description}}">{{group.name}}</h3>
        <form method="post" id="settings_edition_form" action="">
            {% csrf_token %}
            <table border=1>
                <tr>
                    <th>
                        Название настройки
                    </th>
                    <th>
                        Значение
                    </th>
                </tr>
                {% for setting in group.settings %}
                    <tr  id="setting_{{group.name}}_{{setting.name}}">
                        <td>
                            <div title="{{setting.description}}">{{setting.name}}</div>
                        </td>
                        <td>
                            <div  id="setting_value_{{group.name}}_{{setting.name}}">{{setting.value|safe}}</div>
                        </td>
                        <td>
                            <div id="button_{{group.name}}_{{setting.name}}"><input type="button" value="✎" title="Редактировать" name="edit_setting" onclick="f_edit_setting('{{group.name}}','{{setting.name}}')" /></div>
                        </td>
                    </tr>
                {% endfor %}
            </table>
    {% endfor %}
    </div>
    <script>
    </script>
{% endblock %}