{% extends "base.html" %}
{% block title %}
    Подтвеждаем завершение задачи
{% endblock %}
{% block style %}
    <style>
       .leftstr, .rightstr {
        float: left; /* Обтекание справа */ 
        width: 50%; /* Ширина текстового блока */ 
       }
       .rightstr {
        text-align: right; /* Выравнивание по правому краю */ 
       }
      </style>
{% endblock %}
{% block content %}
    <p class="leftstr"><a href="/tasks/">К списку задач</a></p>
    <p class="rightstr">Привет, {{ fio.fio }}!</p>
     
    
    <br />
    <table border=0>
    <tr>
        <td>
            <table border=1>
            <tr><th colspan="2">Выбранная задача: {{task.name}}</th></tr>
                <td>Заказчик</td><td>{{task.client.fio}}</td></tr>
                <td>Категория</td><td>{{task.category}}</td></tr>
                <td>Исполнитель</td><td>{{task.category}}</td></tr>
                <td>Приоритет</td><td>{{task.priority}}</td></tr>
                <td>Дата создания</td><td>{{task.start_date}}</td></tr>
                <td>Предполагаемая дата завершения</td><td>{{task.due_date}}</td></tr>
                <td>Проблема со слов пользователя</td><td>{{task.pbu}}</td></tr>
            </table>
        </td>
        <td>
            <p>{{task.description|safe}}</p>
            <form action="" method="post">
                {% csrf_token %}
                <table border=1>
                    {{ form.as_table }}
                </table>
                <input type="submit" value="Подтвердить закрытие задачу" name="confirm_task" onclick="if (confirm('Уверены?')) {return true} else {return false};"/>
            </form>

            <table border=1>
                <tr><th colspan="2">Комментарии</th></tr>
                    {% for note in notes %}
                        <tr><form action="" method="post">
                        {% csrf_token %}
                        <td>{# {{note.id}}; #}{{note.note|safe}}</td><td><input type="hidden" name="num" value="{{note.id}}" /><input type="submit" value="Удалить комментарий" name="del_comment" /></td></form></tr>
                    {% endfor %}
            </table>
        </td>
    </table>
    
{% comment %}
    class Task(models.Model):
        name = models.CharField(max_length=140)
        description = models.TextField()
        client = models.ForeignKey(Client)
        priority = models.PositiveSmallIntegerField()
        category = models.ForeignKey(Categories)
        start_date = models.DateTimeField()
        due_date = models.DateTimeField()
        done_date = models.DateTimeField(blank = True, null = True)
        worker = models.ForeignKey(Worker)
        resource = models.ForeignKey(Resource, blank = True, null = True)
        note = models.ManyToManyField(Note, related_name = "for_task",blank = True, null = True)
        file = models.ForeignKey(File, blank = True, null = True)
        percentage = models.PositiveSmallIntegerField()
        pbu = models.ForeignKey(ProblemByUser)
        pbw = models.ForeignKey(ProblemByWorker,blank = True, null = True)
        confirmed = models.NullBooleanField(blank = True, null = True)
        confirmed_date = models.DateTimeField(blank = True, null = True)
        def __unicode__(self):
            return u"\t".join((self.name,self.description,self.worker.fio,str(self.percentage)))
{% endcomment %}            



{% endblock %}