{% extends "base.html" %}
{% block title %}
    Новый тикет
{% endblock %}
{% block style %}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.8.2.js"></script>
    <script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="/resources/demos/style.css" />
    <script>
    $(function() {
        $( "#datepicker" ).datepicker();
    });
    </script>
    <style>
        .errorlist {
    {#        display: none} /* прячем ненужные элементы */ #}
        }
    </style>
{% endblock %}
{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <p><input type="datetime-local" {# id="datepicker" #} name="datepicker" value="{{today}}"/>
         <input type="time" name="time" value="{{after_hour}}"/> 
       
        </p>
        <input type="submit">
    </form>
{% endblock %}
